.section
  .section__content.text-center
    %h1 Revisando pedido
    %h3= "Pedido número: " + @assemble.order.order_identification if @assemble.order.order_identification.present?
    %strong= "ID da Ordem de montagem: " + @assemble.id.to_s
    %strong= "Status: " + @assemble.status
    %strong= "Valor do pedido: " + @assemble.order.value

    %br

    .columns.columns--small{style: "display: flex"}
      .column.column--sm-3{style: "text-align: left"}
        %h3 Informações do pedido
        %p
          %strong id:
          = @assemble.order.order_identification
        %p
          %strong status
          = @assemble.order.status
        %p
          %strong data
          = @assemble.order.date
      .column.column--sm-3{style: "text-align: left"}
        %h3 Informações do cliente
        %p
          %strong Nome
          = @assemble.order.client_name
        %p
          %strong CPF
          = @assemble.order.client_id
        %p
          %strong E-mail
          = @assemble.order.client_email
        %p
          %strong Telefone
          = @assemble.order.client_phone
      .column.column--sm-3{style: "text-align: left"}
        %h3 Informações de Endereço
        %p
          %strong Rua
          = @assemble.order.order_address.street
        %p
          %strong Bairro
          = @assemble.order.order_address.neighbohood
        %p
          %strong Cidade
          = @assemble.order.order_address.city
        %p
          %strong Estado
          = @assemble.order.order_address.state
        %p
          %strong CEP
          = @assemble.order.order_address.cep
        %p
          %strong Número
          = @assemble.order.order_address.number
        %p
          %strong Complemento
          = @assemble.order.order_address.complement

    %br

    - @assemble.order.order_items.where(status: "Sem estoque").each do |item|
      .card.card--light-gray{style: "border: #{item.status == 'Sem estoque' ? '2px solid red' : ''} #{item.status == 'Adicionado' ? '2px solid green' : ''}"}
        .card__content
          .columns.columns--small{style: "display: flex; align-items: center; justify-content: space-around; color: black"}
            .column.column--sm-3
              - if Product.find_by_location(item.product_reference).present?
                = image_tag(Product.find_by_location(item.product_reference).product_pictures.first.picture.url, style: "width: 100px; height: auto")
              - else
                %img{src: "http://via.placeholder.com/100px100px"}
            .column.column--sm-3{style: "text-align: left; font-weight: light"}
              - if not Product.find_by_location(item.product_reference).present?
                %h3= item.item_name
              - else
                %h3= Product.find_by_location(item.product_reference).name
              %text= "Quantidade: " + item.quantity
              %br
              %text= "Localização: " + item.product_reference
              %br
              %text= "Valor: " + item.value
            .column.column--sm-3{style: "text-align: center"}
              -# - if item.status == "Adicionado"
                %strong Item já adicionado!
              -# - else
                = simple_form_for @assemble.order, remote: true do |f|
                  = f.simple_fields_for :order_items, item do |g|
                    = g.input :status, as: :hidden, input_html: { value: "Adicionado" }
                  %button.button.button--green{type: "submit", onclick: "$(this).parent().parent().parent().parent().parent().css('border','2px solid green')"} Adicionado
                %br
                = simple_form_for @assemble.order, remote: true do |f|
                  = f.simple_fields_for :order_items, item do |g|
                    = g.input :status, as: :hidden, input_html: { value: "Sem estoque" }
                  %button.button.button--red{type: "submit", onclick: "$(this).parent().parent().parent().parent().parent().css('border','2px solid red')"} Faltando

    = simple_form_for @assemble do |f|
      = f.input :status, as: :hidden, input_html: { value: "Expedição" }
      %button.button.button--full-width.button--large.button--green{type: "submit"} Gerar senha de acesso para o cliente
