.section
  .section__content.text-center
    %h1 Realizando Montagem
    %h3= "Pedido número: " + @assemble.order.order_identification if @assemble.order.order_identification.present?
    %strong= "ID da Ordem de montagem: " + @assemble.id.to_s
    %strong= "Status: " + @assemble.status

    %br

    = simple_form_for @assemble, remote: true do |f|
      = f.input :status, as: :hidden, input_html: { value: "Montagem" }
      %button.button.button--full-width.button--large.button--yellow{type: "submit"} Iniciar Montagem

    %br

    - @assemble.order.order_items.order("status desc").each do |item|
      .card.card--light-gray{style: "border: #{item.status == 'Sem estoque' ? '2px solid red' : ''} #{item.status == 'Adicionado' ? '2px solid green' : ''}"}
        .card__content
          .columns.columns--small{style: "display: flex; align-items: center; justify-content: space-around; color: black"}
            .column.column--sm-3
              - if Product.find_by_location(item.product_reference).present?
                = image_tag(Product.find_by_location(item.product_reference).product_pictures.first.picture.url, style: "width: 100px; height: auto")
              - else
                %img{src: "http://via.placeholder.com/100px100px"}
            .column.column--sm-3{style: "text-align: left; font-weight: light"}
              - if not Product.find_by_location(item.product_reference).present?
                %h3= item.item_name
              - else
                %h3= Product.find_by_location(item.product_reference).name
              %text= "Quantidade: " + item.quantity
              %br
              %text= "Localização: " + item.product_reference
            .column.column--sm-3{style: "text-align: center"}
              - if item.status == "Adicionado"
                %strong Item já adicionado!
              - else
                = simple_form_for @assemble.order, remote: true do |f|
                  = f.simple_fields_for :order_items, item do |g|
                    = g.input :status, as: :hidden, input_html: { value: "Adicionado" }
                  %button.button.button--green{type: "submit", onclick: "$(this).parent().parent().parent().parent().parent().css('border','2px solid green')"} Adicionado
                %br
                = simple_form_for @assemble.order, remote: true do |f|
                  = f.simple_fields_for :order_items, item do |g|
                    = g.input :status, as: :hidden, input_html: { value: "Sem estoque" }
                  %button.button.button--red{type: "submit", onclick: "$(this).parent().parent().parent().parent().parent().css('border','2px solid red')"} Faltando

    = simple_form_for @assemble do |f|
      = f.input :status, as: :hidden, input_html: { value: "Expedição" }
      %button.button.button--full-width.button--large.button--green{type: "submit"} Finalizar Montagem

    %br

    = simple_form_for @assemble do |f|
      = f.input :status, as: :hidden, input_html: { value: "Pendente revisão" }
      %button.button.button--full-width.button--large.button--red{type: "submit"} Enviar para revisão
