= show_flash_messages
.section
  .section__content.text-center
    = image_tag("logo-vertical.png", style: "width: 100%; height: auto; max-width: 260px; margin: 0 auto;")
    %h1.title Criar conta

    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "fancy-form"}) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email,                       |
          required: true,                       |
          autofocus: true,                      |
          input_html: { autocomplete: "email" },
          label: "E-mail"
        = f.input :password,                                                                    |
          required: true,                                                                       |
          hint: ("Mínimo #{@minimum_password_length} caracteres" if @minimum_password_length), |
          input_html: { autocomplete: "new-password" },
          label: "Senha"
        = f.input :password_confirmation,              |
          required: true,                              |
          input_html: { autocomplete: "new-password" },
          label: "Confirmar sua Senha"
        .select-buttons
          .select-buttons__content
            .select-buttons__button.select-buttons__button--active{onclick:"toggle_option($(this), 'social_security_number')"}
              %text Quero usar CPF
            .select-buttons__button{onclick:"toggle_option($(this), 'tax_number')"}
              %text Quero usar CNPJ
        %br

        #social_security_number.option
          = f.input :social_security_number, label: "CPF", input_html: { 'data-mask': '000.000.000-00' }
        #tax_number.option{style: "display: none"}
          = f.input :tax_number, label: "CNPJ", input_html: { 'data-mask': '00.000.000/0000-00' }

        %br

        = f.input :invited_by_token, label: "Código de cadastro (Apenas para consultores do multinível)"
        %small Ao deixar o código de cadastro em branco, você será automaticamente cadastrado como Fornecedor
        = f.input :invitation_token, as: :hidden, input_html: { value: "#{User.last.id + 1}" }
      .form-actions
        %button{type: "submit", class: "button button--full-width button--green"} Cadastrar

    %br
    = render "devise/shared/links"

    -# = image_tag("baptist-software.png", style: "width: 100%; height: auto; max-width: 100px; margin: 0 auto;position: fixed; bottom: 0; left: 0; right: 0;margin-bottom: 10px;")

- content_for :javascript do
  :javascript
    let searchParams = new URLSearchParams(window.location.search)
    $("#user_invited_by_token")[0].value = searchParams.get('token');

    function toggle_option(button, id) {
      element = $('#' + id);

      if (element[0].style.display == "none") {
        $('.option').toggle();
        $('.select-buttons__button').removeClass('select-buttons__button--active');
        button.addClass('select-buttons__button--active');
      }
    }
