.section
  .section__content
    %h1 Ordens de compra

    %table
      %thead
        %tr
          %th #
          %th Produto
          %th Quantidade
          %th Tamanho
          %th Status
          %th

      %tbody
        - @purchase_orders.order("created_at desc").each do |purchase_order|
          %tr{style: "background-color: #{set_purchase_order_color(purchase_order.status)}"}
            %td= image_tag(purchase_order.product.product_pictures.first.picture.thumb.url)
            %td= purchase_order.product.name
            %td= purchase_order.quantity
            %td= purchase_order.size
            %td= purchase_order.status
            %td= link_to 'Ver Ordem', purchase_order
