.section
  .section__content
    %h1 Ordem de compra
    %strong Número da ordem:
    = @purchase_order.id
    %strong Status atual:
    = @purchase_order.status

    %br

    %div{style: "text-align: left"}
      %p
        %b Fotos:
        .image_carousel
          - @purchase_order.product.product_pictures.each do |pic|
            .product_image
              %img{src: "#{pic.picture.url}"}

    %br
    %h3 Informações do produto

    %p
      %strong Nome:
      = @purchase_order.product.name
    %p
      %strong Descrição:
      = @purchase_order.product.description
    %p
      %strong Localização:
      = @purchase_order.product.location
    %p
      %strong Referência:
      = @purchase_order.product.reference


    %h3 Informações do pedido

    %strong Total do pedido:
    = format_price(@purchase_order.value)

    %br
    - @purchase_order.purchase_orders_items.each do |item|
      %small= item.quantity.to_s + " unidades do tamanho " + item.size.to_s
      %br

    %h3 Informações do vendedor

    %p
      %strong Nome:
      = @purchase_order.product.user.name
    %p
      %strong E-mail:
      = @purchase_order.product.user.email
    %p
      %strong Telefone:
      = @purchase_order.product.user.phone
