- if resource.invited_ids.length > 0
  - resource.invited_ids.each do |id|
    .network-card.network-card--line.element{class: "#{number}"}
      -# = id
      = image_tag(User.find(id).avatar.thumb.url)
      .network-card__content
        %text= User.find(id).name.split.first if User.find(id).name.present?
        = id
        %br
        %small= User.find(id).graduation
        - if User.find(id).invited_ids.length > 0
          %a{onclick: "$('.#{id}').toggle()"} [+]
      = render partial: "deepness", locals: { resource: User.find(id), number: id }
      %br


-# - if resource.invited_ids.length > 0
-#   - resource.invited_ids.each do |id|
-#     %div.element{class: "#{number}", style: "border-left: 2px solid; margin-left: 25px; padding-left: 5px"}
-#       = id
-#       = render partial: "linearity", locals: { resource: User.find(id) }
-#       %br
