-# frozen_string_literal: true
= simple_form_for(@user) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :role
    = f.input :graduation
    = f.input :level
    = f.input :avatar
    = f.input :phone
    = f.input :social_security_number
    = f.input :tax_number

  .form-actions
    = f.button :submit
