.section
  .section__content.text-center
    %h1.title Lista de usuários

    = form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit', class: "fancy-form" } do |f|
      %div{style: 'width: 49.5%; display: inline-block'}
        Nome
        = f.text_field(:with_name)
      %div{style: 'width: 49.5%; display: inline-block'}
        CPF
        = f.text_field(:with_social_security_number)
      %div{style: 'width: 49.5%; display: inline-block'}
        CNPJ
        = f.text_field(:with_tax_number)
      %div{style: 'width: 49.5%; display: inline-block'}
        E-mail
        = f.text_field(:with_email)
      %div{style: 'width: 49.5%; display: inline-block'}
        Telefone
        = f.text_field(:with_phone_number)
      %div{style: 'width: 49.5%; display: inline-block'}
        = f.select(:sorted_by, @filterrific.select_options[:sorted_by])
      %div{style: 'width: 49.5%; display: inline-block'}
        = link_to('Limpar filtros', reset_filterrific_url, class: "button button--red color--white button--full-width")
      %div{style: 'width: 49.5%; display: inline-block'}
        %button.button.button--green.color--white.button--full-width{type: "submit"} Filtrar

    #filterrific_results
      = render(partial: 'users/list', locals: { users: @users })

    %br

    = will_paginate @users
