.section
  .section__content.text-center
    %img{src: "http://via.placeholder.com/150x150", style: "border-radius: 50%; width: fit-content; margin: 0 auto"}
    %h3{style: "margin-bottom: 0"}= @user.name
    %small= @user.role

    %div{style: "text-align: left"}
      %p
        %b Graduação:
        = @user.graduation
      %p
        %b Telefone:
        = @user.phone
      - if @user.social_security_number.present?
        %p
          %b CPF:
          = @user.social_security_number
      - if @user.tax_number.present?
        %p
          %b Tax number:
          = @user.tax_number

      %hr

      %h4 Endereço

      NAN

      %hr

      %h4 Informações Bancárias

      NAN
