.section
  .section__content.text-center
    = image_tag(current_user.avatar.url, style: "border-radius: 50%; width: fit-content; margin: 0 auto; max-width: 100%")
    %h3{style: "margin-bottom: 0"}= @user.name
    %small= @user.role

    %div{style: "text-align: left"}
      %p
        %b Graduação:
        = @user.graduation
      %p
        %b Telefone:
        = @user.phone
      - if @user.social_security_number.present?
        %p
          %b CPF:
          = @user.social_security_number
      - if @user.tax_number.present?
        %p
          %b Tax number:
          = @user.tax_number

      = link_to "Editar perfil", edit_user_path(current_user), class: "button button--blue"
      %hr

      %h4 Endereço

      NAN

      %hr

      %h4 Informações Bancárias

      NAN
