.section
  .section__content.text-center
    = image_tag(current_user.avatar.url, style: "border-radius: 50%; width: fit-content; margin: 0 auto; max-width: 100%; max-height: 300px")
    %h3{style: "margin-bottom: 0"}= @user.name
    %small= @user.role
    %br

    .columns
      .column.column--2
        = link_to edit_user_path(current_user) do
          %button.button.button--blue Editar informações do perfil
      .column.column--2
        = link_to edit_user_registration_path do
          %button.button.button--yellow Editar informações de login

    %div{style: "text-align: left"}
      %p
        %b Graduação:
        = @user.graduation
      %p
        %b Telefone:
        = @user.phone
      - if @user.social_security_number.present?
        %p
          %b CPF:
          = @user.social_security_number
      - if @user.tax_number.present?
        %p
          %b Tax number:
          = @user.tax_number
      %hr

      %h4 Endereço

      %p
        %b Rua:
        = @user.address.street
      %p
        %b Bairro:
        = @user.address.neightbohood
      %p
        %b Número:
        = @user.address.number
      %p
        %b Cidade:
        = @user.address.city
      %p
        %b Estado:
        = @user.address.state
      %p
        %b CEP:
        = @user.address.cep

      %hr

      %h4 Informações Bancárias

      %p
        %b Agência:
        = @user.bank_account_information.agency_number
      %p
        %b Conta:
        = @user.bank_account_information.account_number
      %p
        %b Tipo da Conta:
        = @user.bank_account_information.account_type
      %p
        %b Operação:
        = @user.bank_account_information.operation
      %p
        %b Titular da conta:
        = @user.bank_account_information.owner_name
