.section
  .section__content
    %h1.title Meus pedidos

    %table.table
      %thead
        %tr
          %th Forma de pagamento
          %th Valor
          %th Data
          %th Status
          %th

      %tbody
        - @purchases.each do |purchase|
          %tr
            %td= translate_payment_method(purchase.payment_method)
            - if purchase.value.include? "R$"
              %td= purchase.value
            - else
              %td= format_price(purchase.value)
            %td= purchase.created_at.strftime("%d/%m/%Y")
            %td= t(purchase.status)
            %td= link_to 'Ver', purchase
