%h1 Listing purchases

%table
  %thead
    %tr
      %th User
      %th Payment method
      %th Value
      %th Address
      %th
      %th
      %th

  %tbody
    - @purchases.each do |purchase|
      %tr
        %td= purchase.user
        %td= purchase.payment_method
        %td= purchase.value
        %td= purchase.address
        %td= link_to 'Show', purchase
        %td= link_to 'Edit', edit_purchase_path(purchase)
        %td= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Purchase', new_purchase_path
