.section
  .section__content
    %h1.title Meu pedido

    %h2 Status do pedido:
    = @purchase.status

    %br
    %br
    %br

    - if @purchase.status == "Aguardando pagamento"
      - if @purchase.payment_method == "boleto"
        %p Realize o pagamento do boleto clicando no link abaixo para aprovação do seu pedido.
      - if @purchase.payment_method == "transferência"
        %p Realize a transferência para a conta abaixo para aprovação do seu pedido.
      - if @purchase.payment_method == "saldo"
        %p Envie-nos uma mensagem mostrando seu saldo na antiga plataforma e envie uma imagem (captura de tela) do valor do seu pedido para que possamos realizar a aprovação do seu pagamento.

      %small Quando você realizar o pagamento, é necessário que você anexe o comprovante de pagamento ao pedido para que possamos aprovar o seu pedido.
      %br
      %small Para anexar o comprovante, clique no campo de seleção de arquivo abaixo, selecione o arquivo em pdf, foto ou imagem do comprovante de pagamento, e depois clique em "Enviar comprovante"
      %br
      = simple_form_for @purchase, html: { class: "fancy-form" } do |f|
        = f.input :comprovant, label: "Comprovante de pagamento"
        = f.input :status, as: :hidden, input_html: { value: "Aguardando aprovação" }
        %button.button.button--green{type: "submit"} Enviar comprovante

    .columns.columns--small
      .column.column--2{style: "text-align: left"}
        %h3 Detalhes do pedido

        %strong Forma de pagamento:
        = @purchase.payment_method
        %br
        %strong Valor total do pedido:
        = @purchase.value
      .column.column--2{style: "text-align: right"}
        %h3 Endereço de entrega:

        %strong Rua:
        = @purchase.address.street
        %br
        %strong Bairro:
        = @purchase.address.neightbohood
        %br
        %strong Número:
        = @purchase.address.number
        %br
        %strong Cidade:
        = @purchase.address.city
        %br
        %strong Estado:
        = @purchase.address.state
        %br
        %strong CEP:
        = @purchase.address.cep

    %br


    %h3 Itens do pedido

    .table
      %table.table
        %thead
          %tr
            %th #
            %th Nome
            %th Tam.
            %th Quant.
            %th{style: "min-width: 70px"} Preço un.
        %tbody
          - @purchase.purchase_items.each do |item|
            %tr
              %td
                = image_tag(Product.find(item.product_id).product_pictures.first.picture.thumb.url)
              %td= item.product.name
              %td= item.size
              %td= item.quantity
              %td= format_price(item.product.price)
