.section.text-center
  .section__content
    - if @purchases.any?
      %h1.title Aprovar Pagamentos

      - @purchases.each do |purchase|
        .purchase_card
          .purchase_card__actions
          = image_tag(purchase.user.avatar.thumb.url, class: "purchase_card__picture")
          .purchase_card__content
            %h3{style: "margin-bottom: 0"}= purchase.user.name
            = "Total: " + format_price(purchase.value)
            %br
            = "Método de pagamento: " + purchase.payment_method
            %br
            = "Data da solicitação: " + purchase.created_at.strftime("%d/%m/%Y às %H:%M")
            %br
            = "Contato do comprador: " + purchase.user.phone + ", " + purchase.user.email
            %br
            = link_to "Ver comprovante", purchase.comprovant.url, style: "color: blue"
            %br
            = link_to "Aprovar pagamento!", authorize_payment_url(purchase), method: :post, style: "color: green"

        %br
        %hr{style: "width: 100%;"}
        %br
