-# frozen_string_literal: true
= simple_form_for(@order, html: { class: "fancy-form" }) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  = f.input :xml_file, label: "Texto XML do pedido"

  %button.button.button--green{type: "submit", name: "submit"} Gerar Pedido

  %h3 Preencher manualmente

  = f.input :order_identification, label: "ID"
  = f.input :date, label: "Data"
  = f.input :status, label: "Status", as: :select, collection: ["Pendente pagamento", "Pago", "Montagem", "Expedição", "Enviado", "Produtos em Falta"]

  %h3 Dados do cliente

  = f.input :client_name, label: "Nome do cliente"
  = f.input :client_email, label: "E-mail"
  = f.input :client_phone, label: "Telefone"
  = f.input :client_id, label: "CPF"

  %h3 Endereço

  = f.simple_fields_for :address do |g|
    = g.input :street, label: "Rua"
    = g.input :neightbohood, label: "Bairro"
    = g.input :city, label: "Cidade"
    = g.input :state, label: "Estado"
    = g.input :number, label: "Número"
    = g.input :complement, label: "Complemento"
    = g.input :cep, label: "CEP"

  %h3 Itens do pedido

  #items
    = f.simple_fields_for :order_items do |item|
      = render 'order_item_fields', f: item
    .links
      = link_to_add_association '+ Adicionar produto', f, :order_items, class: "button button--blue"

  %br
  %br

  %button.button.button--green{type: "submit", name: "submit"} Gerar Pedido
