-# frozen_string_literal: true
= simple_form_for(@withdraw) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :amount
    = f.association :user
    = f.input :status

  .form-actions
    = f.button :submit
