.section
  .section__content
    %p
      %b Banco:
      = @bank_account.bank
    %p
      %b Agência:
      = @bank_account.agency
    %p
      %b Conta:
      = @bank_account.account_number
    %p
      %b Tipo:
      = @bank_account.kind
    %p
      %b Titular:
      = @bank_account.owner
    %p
      %b Documento:
      = @bank_account.registration_number
    %p
      %b Descrição adicional:
      = @bank_account.aditional_description
