= simple_form_for(@product, html: { class: "fancy-form" }) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  = f.input :name, label: "Nome do produto"
  = f.input :description, label: "descrição do produto", as: :text, input_html: {style: "min-height: 200px"}
  = f.input :original_price, label: "Preço do produto", input_html: { id: "money" }
  = f.input :price, as: :hidden, input_html: { id: "price_input" }
  %small
    %em#price
  %br

  #pictures
    = f.simple_fields_for :product_pictures do |picture|
      = render 'product_picture_fields', f: picture
    .links
      = link_to_add_association ' + ', f, :product_pictures, class: "add-association-button"
  %br

  = f.input :categories, label: "Categorias do produto", as: :select, collection: ProductCategory.all, label_method: lambda { |category| "#{category.name}" }, input_html: { multiple: true, style: "min-height: 250px" }
  = f.input :sizes, label: "Tamanhos disponíveis do produto", as: :select, collection: ProductSize.all, label_method: ProductSize.name, label_method: lambda { |size| "#{size.size}" }, input_html: { multiple: true, style: "min-height: 250px" }

  = f.input :hidden, as: :hidden
  = f.input :quantity, label: "Quantidade disponível em estoque:"
  = f.input :location, label: "Localização:"
  = f.input :reference, label: "Referência:"

  - if not current_user.role == "seller"
    = f.input :user_id, label: "Vendedor:", as: :select, collection: User.where(role: "seller"), label_method: :name, value_method: :id

    %h3 Ocultar produto da loja

    = f.input :hidden, as: :boolean, label: "Oculto"
  - else
    = f.input :user_id, as: :hidden, input_html: { value: current_user.id }

  %button.button.button--green.button--full-width{type: "submit"} Salvar
