.section.text-center
  .section__content
    - if @products.any?
      %h1.title Meus Produtos

      - @products.each do |product|
        .product_card
          .product_card__actions
            = link_to product do
              %img.see{src: "https://icongr.am/clarity/eye.svg?color=13B3F2"}
            = link_to edit_product_url(product), "data-turbolinks" => "false" do
              %img.edit{src: "https://icongr.am/clarity/pencil.svg?color=ffc406"}
            = link_to product, method: :delete, data: { confirm: 'Tem certeza que deseja excluir este produto?' } do
              %img.destroy{src: "https://icongr.am/clarity/trash.svg?color=F20505"}

          = image_tag(product.product_pictures.first.picture.url, class: "product_card__picture")

          .product_card__content
            %h3{style: "margin-bottom: 0"}= product.name
            = format_price(product.price)
            %br
            = "Estoque: " + product.quantity + " Unidades"

        %br
        %hr{style: "width: 100%;"}
        %br

    - else
      = image_tag("logo-vertical.png", style: "width: 100%; height: auto; max-width: 260px; margin: 0 auto;")
      %h1.title Você ainda não cadastrou nenhum produto

    = link_to new_product_path, "data-turbolinks" => "false" do
      %button.button.button--green Adicionar Produto

    = will_paginate @products
