.section.section--light-green.animated.fadeIn{style: "min-height: 91vh; display: flex; align-items: center;"}
  .section__content.text-center
    %h1.title Adicionando produto

    = simple_form_for(@product, html: { class: "fancy-form" }) do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

      .slide.slide--active.animated.fadeIn#1
        = f.input :user_id, input_html: { value: current_user.id }, as: :hidden
        = f.input :name, label: "Nome do produto"

        %button.button.button--full-width.button--pink.change-slide{type: "button", goTo: "2"} Próximo

      .slide.animated.fadeIn#2
        = f.input :description, label: "descrição do produto", as: :text, input_html: {style: "min-height: 200px"}

        %button.button.button--full-width.button--pink.change-slide{type: "button", goTo: "3"} Próximo
        %br
        %br
        %button.button.button--full-width.button--yellow.change-slide{type: "button", goTo: "1"} Voltar

      .slide.animated.fadeIn#3
        = f.input :original_price, label: "Preço do produto", input_html: { id: "money" }
        = f.input :price, as: :hidden, input_html: { id: "price_input" }
        %small
          %em#price
        %br

        %button.button.button--full-width.button--pink.change-slide{type: "button", goTo: "4"} Próximo
        %br
        %br
        %button.button.button--full-width.button--yellow.change-slide{type: "button", goTo: "2"} Voltar

      .slide.animated.fadeIn#4
        %small Pelo menos uma foto do produto
        #pictures
          = f.simple_fields_for :product_pictures do |picture|
            = render 'product_picture_fields', f: picture
          .links
            = link_to_add_association ' + ', f, :product_pictures, class: "add-association-button"
        %br

        %button.button.button--full-width.button--pink.change-slide{type: "button", goTo: "5"} Próximo
        %br
        %br
        %button.button.button--full-width.button--yellow.change-slide{type: "button", goTo: "3"} Voltar

      .slide.animated.fadeIn#5
        = f.input :categories, label: "Categorias do produto", as: :select, collection: ProductCategory.all, label_method: lambda { |category| "#{category.name}" }, input_html: { multiple: true, style: "min-height: 250px" }

        %button.button.button--full-width.button--pink.change-slide{type: "button", goTo: "6"} Próximo
        %br
        %br
        %button.button.button--full-width.button--yellow.change-slide{type: "button", goTo: "4"} Voltar

      .slide.animated.fadeIn#6
        = f.input :sizes, label: "Tamanhos disponíveis do produto", as: :select, collection: ProductSize.all, label_method: ProductSize.name, label_method: lambda { |size| "#{size.size}" }, input_html: { multiple: true, style: "min-height: 250px" }

        %button.button.button--full-width.button--pink.change-slide{type: "button", goTo: "7"} Próximo
        %br
        %br
        %button.button.button--full-width.button--yellow.change-slide{type: "button", goTo: "5"} Voltar

      .slide.animated.fadeIn#7
        = f.input :hidden, as: :hidden
        = f.input :quantity, label: "Quantidade disponível em estoque:"

        %button.button.button--full-width.button--green.change-slide{type: "submit"} Concluir
        %br
        %br
        %button.button.button--full-width.button--yellow.change-slide{type: "button", goTo: "6"} Voltar
