- if item.status == "Adicionado"
  %td{colspan: "100%"}
    %text{style: "color: #5ad34a"} Adicionado
    %img{src: "https://icongr.am/feather/check-square.svg?size=16&color=5ad34a", style: "vertical-align: text-top"}

- elsif item.status == "Sem estoque"
  %td{style: "text-align: center"}
    %img{src: "https://icongr.am/feather/alert-triangle.svg?size=16&color=d34a4a", style: "vertical-align: text-top"}
    %br
    %text{style: "color: #d34a4a"} Sem estoque
  %td
    = simple_form_for @assemble_order, remote: true do |f|
      = f.simple_fields_for :assemble_order_items, item do |g|
        = g.input :status, input_html: { value: "Em estoque" }, as: :hidden
      %button.button.button--green{type: "submit"} Atualizar Disponibilidade
    %br
    -# %button.button.button--yellow{type: "button", onclick: "$('#modal_#{item.id}').toggle();"} Criar ordem de compra
    -# - content_for :modal do
      .modal{id: "modal_#{item.id}"}
        %img.modal__close{src: "https://icongr.am/feather/x.svg", onclick: "$('.modal').toggle()"}
        .modal__content
          .section
            .section__content
              %h1 Nova ordem de compra
              = simple_form_for PurchaseOrder.new, html: { class: "fancy-form" } do |f|
                = f.input :product_id, as: :hidden, input_html: {value: "#{item.id}"}
                = f.input :quantity, label: "Quantidade"
                = f.input :size, label: "Tamanho"

                %button.button.button--green{type: "submit"} Gerar ordem de compra


- else
  %td{colspan: "100%"}
