.section
  .section__content
    %h1 Listing assemble_orders

    %table
      %thead
        %tr
          %th Purchase
          %th User
          %th Status
          %th
          %th
          %th

      %tbody
        - @assemble_orders.each do |assemble_order|
          %tr
            %td= assemble_order.purchase
            %td= assemble_order.user
            %td= assemble_order.status
            %td= link_to 'Show', assemble_order
            %td= link_to 'Edit', edit_assemble_order_path(assemble_order)
            %td= link_to 'Destroy', assemble_order, method: :delete, data: { confirm: 'Are you sure?' }

    %br

    = link_to 'New Assemble order', new_assemble_order_path
