%p#notice= notice

%p
  %b Purchase:
  = @assemble_order.purchase
%p
  %b User:
  = @assemble_order.user
%p
  %b Status:
  = @assemble_order.status

= link_to 'Edit', edit_assemble_order_path(@assemble_order)
\|
= link_to 'Back', assemble_orders_path
