.section
  .section__content
    %h1 Ordem de montagem
    %strong= "Número da ordem: " + @assemble_order.id.to_s
    %strong= "Status atual: " + @assemble_order.status

    %br
    %br

    - if current_user.role == "support"
      %h3 Informações de contato do comprador:

      %p
        %strong Nome:
        = @assemble_order.purchase.user.name
      %p
        %strong E-mail:
        = @assemble_order.purchase.user.email
      %p
        %strong Telefone:
        = @assemble_order.purchase.user.phone

    - if @assemble_order.status == "Pendente montagem"
      = simple_form_for @assemble_order, remote: true do |f|
        = f.input :status, input_html: { value: "Linha de montagem" }, as: :hidden
        %button.button.button--full-width.button--blue{type: "submit"} Iniciar montagem

    %h3 Itens do pedido

    .table
      %table.table
        %thead
          %tr
            %th #
            %th Nome
            %th Tam.
            %th Quant.
            %th Localização
            %th
            %th
        %tbody
          - @assemble_order.assemble_order_items.each do |item|
            %tr
              %td
                = image_tag(Product.find(item.purchase_item.product.id).product_pictures.first.picture.thumb.url)
              %td= item.purchase_item.product.name
              %td= item.purchase_item.size
              %td= item.purchase_item.product.quantity
              %td= item.purchase_item.product.location

              = render partial: "assembler_buttons", locals: { item: item } if current_user.role == "assembler"
              = render partial: "support_buttons", locals: { item: item } if current_user.role == "support"

    %br

    - if current_user.role == "assembler"
      - if not @assemble_order.status == "Expedição"
        - if @assemble_order.status != "Pendente montagem"
          = simple_form_for @assemble_order, remote: true do |f|
            = f.input :status, input_html: { value: "Expedição" }, as: :hidden
            %button.button.button--full-width.button--green{type: "submit"} Finalizar montagem

          %br

          = simple_form_for @assemble_order, remote: true do |f|
            = f.input :status, input_html: { value: "Estoque insuficiente" }, as: :hidden
            %button.button.button--full-width.button--red{type: "submit"} Marcar como estoque insuficiente

    - elsif current_user.role == "support"
      - if @assemble_order.status == "Estoque insuficiente"
        = simple_form_for @assemble_order, remote: true do |f|
          = f.input :status, input_html: { value: "Pendente revisão" }, as: :hidden
          %button.button.button--full-width.button--red{type: "submit"} Enviar para revisão
