%h1 Listing support_tickets

%table
  %thead
    %tr
      %th Ticket
      %th Filled by
      %th Purchase
      %th
      %th
      %th

  %tbody
    - @support_tickets.each do |support_ticket|
      %tr
        %td= support_ticket.ticket
        %td= support_ticket.filled_by
        %td= support_ticket.purchase
        %td= link_to 'Show', support_ticket
        %td= link_to 'Edit', edit_support_ticket_path(support_ticket)
        %td= link_to 'Destroy', support_ticket, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Support ticket', new_support_ticket_path
